#header {
    height: 4em;
    display: flex;
    padding: 0.5em 0 0.5em 0.5em;
    border-bottom: 1px solid black;
}

#header > img {
    height: 4em;
}

#vp-main {
    padding: 1em 0.75em 0 0.75em;
    background-color: #151547;
    height: 100vh;
}

h1 {
    font-size: 2em;
    color: #3051f6;
    margin: 0 0 1em 0;
}